<div id="app">
  <form id="form-signature" >
      <!-- <input type="text"
      name="brand"
      placeholder="Logo da empresa"
      (change)="handleChange()"
      [(ngModel)]="state.brand"
      />  -->

      <input type="text"
      name="menberName"
      placeholder="Nome"
      (change)="handleChange()"
      [(ngModel)]="state.menberName"
      />

      <input type="text"
      name="position"
      placeholder="Cargo"
      (change)="handleChange()"
      [(ngModel)]="state.position"
      />
<!-- 
      <input type="text"
      name="company"
      placeholder="Empresa"
      (change)="handleChange()"
      [(ngModel)]="state.company"
      /> 
 -->
      <input type="text"
      name="email"
      placeholder="E-mail"
      (change)="handleChange()"
      [(ngModel)]="state.email"
      />

      <input type="text"
      name="phone"
      placeholder="Telefone"
      (change)="handleChange()"
      [(ngModel)]="state.phone"
      />

     <!-- <input type="text"
      name="address"
      placeholder="Endereço"
      (change)="handleChange()"
      [(ngModel)]="state.address"
      />

       <input type="text"
      name="website"
      placeholder="Site"
      (change)="handleChange()"
      [(ngModel)]="state.website"
      />

      <input type="text"
      name="instagram"
      placeholder="Instagram"
      (change)="handleChange()"
      [(ngModel)]="state.instagram"
      />

      <input type="text"
      name="facebook"
      placeholder="Facebook"
      (change)="handleChange()"
      [(ngModel)]="state.facebook"
      />

      <input type="text"
      name="linkedin"
      placeholder="Linkedin"
      (change)="handleChange()"
      [(ngModel)]="state.linkedin"
      /> -->

      <!-- <input type="text"
      name="youtube"
      placeholder="Youtube"
      (change)="handleChange()"
      [(ngModel)]="state.youtube"
      /> -->

  </form>


    <section>
      <div id="demo">
          <div id="signatureBox">
<!-- Abre o HTML -->
      <table style="font-family:  Arial, Helvetica, sans-serif;">
        <tr>
              <th style="text-align: left; "> 
                                
                  <span style="font-size: 18px; font-weight: bold; color:#1E526D;"> 
                      {{state.menberName}}
                  </span>
         <span style="color: #63ff01;"> | </span>
              <span style="font-weight:bold;color:#606060; line-height: 18px; font-size:16px;">
                  {{state.position}} </span>
                  <br><br>
                  <span style="font-weight:lighter;font-size:14px;color:#606060; line-height: 1px; ">
                      {{state.phone}} <span style="color: #63ff01;">  |  </span> {{state.email}}
                  </span>
                  <br>

              </th>

          </tr>

          <tr>
          <th style="text-align: left;line-height: -10px;">
            <img src="{{state.brand}}"> <br>
            <a href="{{state.linkedin}}" target="_blank"> <img src="{{host}}/assets/linkedin.png"></a>
            <a href="{{state.facebook}}" target="_blank"> <img src="{{host}}/assets/facebook.png"></a>
            <a href="{{state.instagram}}" target="_blank"> <img src="{{host}}/assets/instagram.png"></a>
          <br>
          <a href="{{websiteLink}}" target="_blank" style="text-decoration:none; color:#1E526D; line-height: 18px">{{state.website}}</a>
            
          </th>
        </tr>
      </table>
<!-- Fecha HTML -->
          </div>
       <div class="tooltip" style="opacity: 1;" *ngIf="txtToolTip"><span class="tooltip__content"
                      >{{txtToolTip}}</span></div>
      <button type="button" (click)="copy()">Copiar assinatura</button>
    </div>

    </section>
  </div>
  